<!DOCTYPE html>
<html>
<head>
  <title>Weather Forecast</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Weather for {{ day_forecast[0].today }}</h1>
    <div class="forecast-container">
        {% for forecastData in day_forecast %}
          <div class="forecast-box" onclick="toggleBreakdown('{{ forecastData['dt'] }}')">
            <span>{{ forecastData['time'] }}</span>
            <span>{{ forecastData['weather'][0]['description'] }}</span>
            {% if 'cloud' in forecastData['weather'][0]['description'].lower() %}
              <img src="{{ url_for('static', filename='assets/Clouds.png') }}" alt="Clouds">
            {% elif 'clear' in forecastData['weather'][0]['description'].lower() %}
              <img src="{{ url_for('static', filename='assets/Clear.png') }}" alt="Clear">
            {% elif 'snow' in forecastData['weather'][0]['description'].lower() %}
              <img src="{{ url_for('static', filename='assets/Snow.png') }}" alt="Snow">
            {% else %}
              <img src="{{ url_for('static', filename='assets/Rain.png') }}" alt="rain">
            {% endif %}
            <span>click for breakdown</span>
            <div class="day-breakdown" id="breakdown-{{ forecastData['dt'] }}" style="display: none;">
              <table>
                <tr>
                  <th>Temperature</th>
                  <td>{{ forecastData['main']['temp'] }}°C</td>
                </tr>
                <tr>
                  <th>Feels like</th>
                  <td>{{ forecastData['main']['feels_like'] }}°C</td>
                </tr>
                <tr>
                  <th>Humidity</th>
                  <td>{{ forecastData['main']['humidity'] }}%</td>
                </tr>
                <tr>
                  <th>Wind Speed</th>
                  <td>{{ forecastData['wind']['speed'] }} m/s</td>
                </tr>
              </table>
            </div>
          </div>
        {% endfor %}
      </div>

  <script>
    function toggleBreakdown(dt) {
      var breakdown = document.getElementById('breakdown-' + dt);
      if (breakdown.style.display === 'none') {
        breakdown.style.display = 'block';
      } else {
        breakdown.style.display = 'none';
      }
    }
  </script>
</body>
</html>